.apresentacao{
    width: 100%;
    /* border: 2px solid red; */
    padding-top: 150px;
    padding-bottom: 50px;
    display: flex;
}

.apresentacao .container{   
    margin-left: 140px;
    position: relative;
  
}

.apresentacao h1{
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;   
}

.apresentacao p{
    text-align: justify;
    font-size: 18px;
    margin-bottom: 50px;
    width: 50%;
}

span{
    color: rgba(184, 84, 232, 1);
  
    
}

.cursor{
    content: "";
    /* border: 2px solid white; */
    height:50px;
    animation: cursor 0.8s infinite;
    position: absolute;
    top: 63px;
    left:285px;
    width: 630px;
   
}


@keyframes palavras {
  
    0%, 100%{
        content: "Desenvolvedora Front End";
    }

}

/* @keyframes cursor {
    0%{
        border: 2px solid black;
    }
 } */

 /* @keyframes digita {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 80%, 95%{
        width: 0%;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width:51%;
    }
 } */


@media (max-width: 1200px){
    .apresentacao p{
        width: 60%;
    }
}

@media (max-width: 991px){
    .apresentacao p{
        width: 75%;
    }
    .apresentacao .container{   
        margin-left: 0px;
    }
}

@media (max-width: 767px){
    .apresentacao p{
        width: 100%;
    }

    .apresentacao .container{   
        margin: 0 auto;
        width: 90%;
    }
}